<%- include('../layouts/adminSidebar') %>

    <main class="main-wrap">
        <%- include('../layouts/adminHeader') %>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Products</h2>
                        <p>Add, edit or delete a product</p>
                    </div>
                    <div>
                        <a href="/admin/addProductPage" class="btn btn-primary btn-sm rounded">Create</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                            </div>
                            <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a href="/admin/adminProductList?"></a>All category</li>
                                        <li><a href="/admin/adminProductList?view=true"></a> list</li>
                                        <li><a href="/admin/adminProductList?view=false"></a>unlist</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </header>  -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th width="40%">Name</th>
                                        <th width="20%">Category</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                        <th class="text-end"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i=0; i < productData.length; i++) { %>
                                        <tr>
                                            <td>
                                                <div class="left">
                                                    <img src="/productImages/<%= productData[i].productImages[0] %>"
                                                        class="img-sm" alt="catpic">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h6 class="mb-0 title">
                                                        <%= productData[i].name %>
                                                    </h6>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h6>
                                                        <%= productData[i].category %>
                                                    </h6>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <h6>
                                                        <%= productData[i].quantity %>
                                                    </h6>
                                                </div>
                                            </td>
                                            <td>
                                                <% if (productData[i].isListed==true ) { %>
                                                    <span class="badge rounded-pill"
                                                        style="background-color: green;">listed</span>
                                                    <% } else { %>
                                                        <span class="badge rounded-pill"
                                                            style="background-color: red;">unlisted</span>
                                                        <% } %>
                                            </td>
                                            <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown"
                                                        class="btn btn-light rounded btn-sm font-sm"> <i
                                                            class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item"
                                                            href="/admin/editProduct?id=<%= productData[i]._id %>">Edit
                                                            info</a>
                                                        <a class="dropdown-item"
                                                            href="/admin/viewProductInfo?id=<%= productData[i]._id %>">view
                                                            info</a>
                                                        <% if (productData[i].isListed==true) { %>
                                                            <a class="dropdown-item text-danger"
                                                                href="/admin/unlistProduct?id=<%= productData[i]._id %>">
                                                                unlist </a>
                                                            <% } else { %>
                                                                <a class="dropdown-item text-success"
                                                                    href="/admin/listProduct?id=<%= productData[i]._id %>">
                                                                    list </a>
                                                                <% }%>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <% } %>

                                </tbody>
                            </table> <!-- table-responsive.// -->
                        </div>
                    </div> <!-- card-body end// -->
                </div> <!-- card end// -->
                <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% for (let page=1; page <=totalPages; page++) { %>
                                <li class="page-item <%= page === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="/admin/adminProductList?page=<%= page %>">
                                        <%= page %>
                                    </a>
                                </li>
                                <% } %>
                        </ul>
                    </nav>
                </div>
            </section> <!-- content-main end// -->

            <%- include('../layouts/adminFooter') %>