<%- include('../layouts/adminSidebar') %>
    <main class="main-wrap">
        <%- include('../layouts/adminHeader') %>

            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

            <section class="content-main">
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row align-items-center">

                            <form action="" method="get">

                                <div style="display: flex;  align-items: center;">
                                    <input type="text" id="searchInput" class="form-control"
                                        placeholder="Search for products...">

                                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3" style="display: flex;">

                                        <label for="paymentMethod" class="form-control">Select Status:</label>
                                        <select name="paymentMethod" class="form-select" id="paymentMethod">
                                            <option value="" selected>All</option>
                                            <option value="Online Payment">RazorPay</option>
                                            <option value="Wallet">Wallet</option>
                                            <option value="Cash On Delivery">Cash On Delivery</option>



                                        </select>
                                    </div>

                                    <input type="submit" class="btn btn-sm font-sm rounded btn-brand" value="Filter">

                                </div>
                            </form>




                        </div>
                    </header>

                    <div class="card-body">
                        <div class="d-flex" style="justify-content: center;">
                            <h2 class="content-title card-title">Sales Report</h2>

                        </div>

                        <p>Total Revenue: <%= totalRevenue.toFixed(2) %> INR</p>

                        <!-- Display Total Number of Sales -->
                        <p>Total Sales: <%= totalSales %>
                        </p>

                        <!-- Display Number of Products Sold -->
                        <p>Total Products Sold: <%= totalProductsSold %>
                        </p>

                        <!-- Display Product that is Mostly Sold -->



                        <table id="products" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Billing Name</th>
                                    <th scope="col">Ordered Date</th>
                                    <th scope="col">Delivery Date</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col">Payment Method</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% orders.forEach((order)=> { %>
                                    <tr>
                                        <td>
                                            <%= order.orderID %>
                                        </td>
                                        <td>
                                            <%= order.user.name %>
                                        </td>
                                        <td>
                                            <%= new Date(order.orderDate).toLocaleDateString() %>
                                        </td>
                                        <td>
                                            <%= new Date(order.deliveryDate).toLocaleDateString() %>
                                        </td>
                                        <td>
                                            <%= order.totalAmount %>
                                        </td>
                                        <td>
                                            <% if (order.status=='Pending' ) { %>
                                                <span class="badge badge-pill badge-soft-warning">
                                                    <%= order.status %>
                                                </span>
                                                <% } else if (order.status=='Order Confirmed' ) { %>
                                                    <span class="badge badge-pill badge-soft-warning">
                                                        <%= order.status %>
                                                    </span>
                                                    <% } else if (order.status=='Shipped' ) { %>
                                                        <span class="badge badge-pill badge-soft-dark">
                                                            <%= order.status %>
                                                        </span>
                                                        <% } else if (order.status=='Out For Delivery' ) { %>
                                                            <span class="badge badge-pill badge-soft-dark">
                                                                <%= order.status %>
                                                            </span>
                                                            <% } else if (order.status=='Delivered' ) { %>
                                                                <span class="badge badge-pill badge-soft-success">
                                                                    <%= order.status %>
                                                                </span>
                                                                <% } else if (order.status=='Return Successfull' ) { %>
                                                                    <span class="badge badge-pill badge-soft-success">
                                                                        <%= order.status %>
                                                                    </span>
                                                                    <% } else { %>
                                                                        <span
                                                                            class="badge badge-pill badge-soft-danger">
                                                                            <%= order.status %>
                                                                        </span>
                                                                        <% } %>
                                        </td>
                                        <td>
                                            <% if (order.paymentStatus=='Pending' ) { %>
                                                <span class="badge badge-pill badge-soft-warning">
                                                    <%= order.paymentStatus %>
                                                </span>
                                                <% } else if (order.paymentStatus=='Payment Successful' ) { %>
                                                    <span class="badge badge-pill badge-soft-success">
                                                        <%= order.paymentStatus %>
                                                    </span>
                                                    <% } else if (order.paymentStatus=='Refund' ) { %>
                                                        <span class="badge badge-pill badge-soft-primary">
                                                            <%= order.paymentStatus %>
                                                        </span>
                                                        <% } else { %>
                                                            <span class="badge badge-pill badge-soft-danger">
                                                                <%= order.paymentStatus %>
                                                            </span>
                                                            <% } %>
                                        </td>

                                        <td>
                                            <%= order.paymentMethod %>
                                        </td>


                                    </tr>
                                    <% }); %>


                            </tbody>
                        </table>

                    </div> <!-- card-body end// -->
                </div> <!-- card end// -->


            </section> <!-- content-main end// -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
            <script>
                document.getElementById("pdfButton").addEventListener("click", function () {
                    const salesContainer = document.querySelector(".card-body");
                    const pdfOptions = {
                        filename: 'SalesReport.pdf',
                        image: { type: 'jpeg', quality: 1.0 },
                        html2canvas: { scale: 2 },
                        jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
                    };
                    html2pdf().from(salesContainer).set(pdfOptions).save();
                });
            </script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
            <script>

                document.addEventListener("DOMContentLoaded", function () {
                    const searchInput = document.getElementById("searchInput");
                    const table = document.getElementById("products");
                    const rows = table.getElementsByTagName("tr");

                    searchInput.addEventListener("keyup", function () {
                        const searchText = searchInput.value.toLowerCase();

                        for (let i = 1; i < rows.length; i++) {
                            const rowData = rows[i].textContent.toLowerCase();
                            if (rowData.includes(searchText)) {
                                rows[i].style.display = "";
                            } else {
                                rows[i].style.display = "none";
                            }
                        }
                    });
                });




                $(document).ready(function () {
                    $('#products').DataTable({
                        "paging": false,
                    });
                });

                function updateProductList(categoryId) {
                    $.ajax({
                        type: "GET",
                        url: "/products",
                        data: { categoryId: categoryId },
                        success: function (data) {
                            $("#product-list").html(data);
                        },
                        error: function (error) {
                            console.error("Error:", error);
                        }
                    });
                }

                document.getElementById('category-filter').addEventListener('change', function () {
                    const categoryId = this.value;
                    updateProductList(categoryId);
                });

                $(document).ready(function () {
                    updateProductList('');
                });

            </script>

            <%- include('../layouts/adminFooter.ejs') %>