<%- include('../layouts/header') %>

    <main class="main">
        <section class="home-slider position-relative pt-50">
            <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                <% for(let i=0;i<banData.length;i++){%>
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-5 col-md-6">
                                <div class="hero-slider-content-2">
                                    <h4 class="animated"><%= banData[i].subtitle %></h4>
                                    <h2 class="animated fw-900"><%= banData[i].title %></h2>
                                    <p class="animated"><%= banData[i].description %></p>
                                    <!-- <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html"> Shop
                                        Now </a> -->
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <div class="single-slider-img single-slider-img-1">
                                    <img class="animated slider-1-1" src="/bannerImages/<%= banData[i].image %>" alt="" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        <section class="popular-categories section-padding mb-25">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20 mt-100"><span>Categories</span></h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows">
                    </div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <% if (catData.length> 0) {
                            for (let i = 0; i < catData.length; i++) { %>
                                <div class="card-1">
                                    <figure class=" img-hover-scale overflow-hidden">
                                        <a href="/productList?category=<%= catData[i]._id %>"><img src="categoryImages/<%= catData[i].image %>"
                                                alt=""></a>
                                    </figure>
                                    <h5><a href="/productList?category=<%= catData[i]._id %>">
                                            <%= catData[i].category %>
                                        </a></h5>
                                </div>
                                <% } } %>

                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows">
                    </div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                        <% for (let i=0; i < productData.length; i++) { %>
                        <div class="product-cart-wrap small hover-up">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom"  style="height: 250px;">
                                    <a href="/productPage?id=<%= productData[i]._id %>">
                                        <img class="default-img" src="/productImages/<%= productData[i].productImages[0] %>" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                        href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <h2><a href="/productPage?id=<%= productData[i]._id %>"><%= productData[i].name %></a></h2>
                                <div class="product-price">
                                    <span><%= productData[i].discountPrice %></span>
                                    <span class="old-price"><%= productData[i].price %></span>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-bg wow fadeIn animated"
                            style="background-image: url('assets/imgs/banner/banner-8.png')">
                            <div class="banner-content">
                                <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                                <h2 class="fw-600"><span class="text-brand">hello guys . Big Sale Up to 40%</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../layouts/footer') %>