<%- include('../layouts/header') %>

    <main class="main">
        <section class="mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-5">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider"
                                            style="background-color: transparent; height: 500px;">
                                            <% for (let i=0; i < 4; i++) { %>
                                                <figure class="border-radius-10">
                                                    <img src="/productImages/<%= productData.productImages[i] %>"
                                                        alt="product image" style="height: 700px;">
                                                </figure>
                                                <% } %>
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15 mt-0">
                                            <% for (let i=0; i < 4; i++) { %>
                                                <div><img src="/productImages/<%= productData.productImages[i] %>"
                                                        alt="product image"></div>
                                                <% } %>
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail mt-50">
                                            <%= productData.name %>
                                        </h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> category : <a href="shop-grid-right.html">
                                                        <%= productData.category.category %>
                                                    </a></span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">$ <%= productData.discountPrice %>
                                                    </span></ins>
                                                <ins><span class="old-price font-md ml-15">$ <%= productData.price %>
                                                    </span></ins>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>
                                                <%= productData.description %>
                                            </p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return
                                                    Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available
                                                </li>
                                            </ul>
                                        </div>
                                        <% if(productData.quantity !==0){ %>
                                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                            <div class="detail-extralink">
                                                <div class="product-extra-link2">
                                                    <form action="/productPage?id=<%= productData._id %>" method="post">
                                                        <input type="hidden" value="<%= productData._id %>" name=""
                                                            id="">
                                                        <div class="details-filter-row details-row-size mt-4"
                                                            style="margin-bottom: 20px;">
                                                            <label for="qty">Qty:</label>
                                                            <div class="product-details-quantity">
                                                                <input type="number" id="qty" name="qty"
                                                                    class="form-control" value="1" min="1" max="10"
                                                                    step="1" data-decimals="0" required>
                                                            </div>
                                                        </div>

                                                        <button type="submit" class="button button-add-to-cart">Add to
                                                            cart</button>

                                                    </form>
                                                </div>
                                                <div class="product-extra-link2"
                                                    style="margin-top: 120px; margin-left: 10px; ">
                                                    <a aria-label="Add To Wishlist" class="action-btn" href="/addTowishlist?id=<%= productData._id %>"
                                                        style="background-color: #088178;"><i class="fi-rs-heart"
                                                            style="color: white;"></i></a>
                                                </div>
                                            </div>
                                            <%} else { %>
                                                <div class="my-5"
                                                    style="display: flex; align-items: center; color: red;">
                                                    <p style="color: red; font-size: 14px;">Product out of stock</p>
                                                </div>

                                                <% } %>
                                                    <ul class="product-meta font-xs color-grey mt-50">
                                                        <li class="mb-5">handle: <%= productData.handle %>
                                                        </li>
                                                        <li>Availability:<span class="in-stock text-success ml-5">
                                                                <%= productData.quantity %> Items In
                                                                    Stock
                                                            </span></li>
                                                    </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h3 class="section-title style-1 mb-30 mt-50">Additional info</h3>
                                    <table class="font-md mb-30">
                                        <tbody>
                                            <tr class="stand-up">
                                                <th>Name</th>
                                                <td>
                                                    <p>
                                                        <%= productData.name %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="folded-wo-wheels">
                                                <th>Category</th>
                                                <td>
                                                    <p>
                                                        <%= productData.category.category %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="folded-w-wheels">
                                                <th>Product color</th>
                                                <td>
                                                    <p>
                                                        <%= productData.productColor %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="door-pass-through">
                                                <th>Handle</th>
                                                <td>
                                                    <p>
                                                        <%= productData.handle %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="frame">
                                                <th>Oppening mechanism</th>
                                                <td>
                                                    <p>
                                                        <%= productData.mechanism %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="weight-wo-wheels">
                                                <th>Blade style</th>
                                                <td>
                                                    <p>
                                                        <%= productData.bladeStyle %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="weight-capacity">
                                                <th>Blade steel</th>
                                                <td>
                                                    <p>
                                                        <%= productData.bladeSteel %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="width">
                                                <th>Weight</th>
                                                <td>
                                                    <p>
                                                        <%= productData.weight %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="handle-height-ground-to-handle">
                                                <th>Length</th>
                                                <td>
                                                    <p>
                                                        <%= productData.bladeLength %>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                        <% for (let i=0; i < relatedProducts.length; i++) { %>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap small hover-up">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="/productPage?id=<%= relatedProducts[i]._id %>"
                                                                tabindex="0">
                                                                <img class="default-img"
                                                                    src="/productImages/<%= relatedProducts[i].productImages[0] %>"
                                                                    alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <h2><a href="/productPage?id=<%= relatedProducts[i]._id %>"
                                                                tabindex="0">
                                                                <%= relatedProducts[i].name %>
                                                            </a></h2>
                                                        <div class="product-price">
                                                            <span>
                                                                <%= relatedProducts[i].discountPrice %>
                                                            </span>
                                                            <span class="old-price">
                                                                <%= relatedProducts[i].price %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../layouts/footer') %>