<%- include('../Layouts/header.ejs') %>
    <main class="main" style="margin-top: 100px; margin-bottom: 100px;">

        <div class="page-content mt-4">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link " id="dashboard-tab" data-bs-toggle="tab" href="#dashboard"
                                            role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                            href="#account-detail" role="tab" aria-controls="account-detail"
                                            aria-selected="true">Account details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                            role="tab" aria-controls="orders" aria-selected="false">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="track-orders-tab" href="/wallet">Wallet</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" href="/couponPage">Coupon</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                            role="tab" aria-controls="address" aria-selected="true">My Address</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout" style="color: red;"><i
                                                class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="tab-content d-flex justify-content-center align-items-center">



                                <div class="card" style="width: 500px;height: 200px;margin-bottom: 50px;background-color: rgb(115, 206, 115);">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                        <i class="fa-solid fa-wallet" style="font-size: 20px;"></i>
                                        <h3>Wallet Balance</h3>

                                        <p style="font-size: 30px;color: black;">
                                            <strong><%= User.walletBalance %></strong>
                                        </p>
                                    </div>

                                </div>

                            </div>

                            <div class="mt-5">
                                <table class="table">
                                    <thead>
                                        <tr>
                                          <th scope="col">Transaction Id</th>
                                          <th scope="col">Description</th>
                                          <th scope="col">Transaction Type</th>
                                          <th scope="col">Date</th>
                                          <th scope="col">Amount</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                        
                                        <% transactions.forEach((transaction) => { %>
                                            <tr style="height: 80px;">                    
                                              <td><%= transaction.transactionId %></td>
                                              <td><%= transaction.description %></td>
                                              <td>  <% if (transaction.type == 'debit') { %><span style="color: red;">
                                                <%= transaction.type %></span>
                                                <% } else { %>
                                                    <span style="color: green;"> <%= transaction.type %></span>
                                                    <% } %>
                                            </td>
                                              <td><%= new Date(transaction.date).toLocaleDateString() %></td>
                                              <td>  <% if (transaction.type == 'debit') { %><span style="color: red;">
                                                -  <%= transaction.amount %>
                                              </span>
                                              <% } else { %>
                                                <span style="color: green;">+  <%= transaction.amount %></span>
                                                <% } %>
                                            </td>
                                       
                                        </tr>
                                        <% } )%>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- End .col-lg-9 -->


                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->

    </main><!-- End .main -->


    <%- include('../Layouts/footer.ejs') %>